@media (max-width: 767px){
    .header__nav{
        display: block;
    }
    .header__logo{
        display: block;
        margin: 0 auto;
    }
    .header__item{
        color:white;
    }
    .header__items{
        padding: 0;
    }
    .header__list{
        padding: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        align-items: center;
        min-height: 50vh;
        min-width: 30vh;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 52px;
        left: -100%;
        transition: 0.8s all;
    }

    .active{
        left:0;
    }

    .header__hamburger{
        display: block;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        
        
    }
    .header__hamburger-elem{
        display: block;
        min-width: 50px;
        min-height: 5px;
        background-color: black;
        transition: 0.3s all;
        }
    .header__hamburger-elem:nth-child(2){
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .active-hamburger span:nth-child(1){
        background-color: green;
        opacity: 0.5;
        height: 7px;
        
    }
    .active-hamburger span:nth-child(3){
        background-color: green;
        height: 7px;
        opacity: 0.5;
        
    }
    .active-hamburger span:nth-child(2){
        margin-top: 7px;
        margin-bottom: 7px;
    }
    
}