@media (max-width: 767px){
    .section-5__icons-bg{
        width: 75px;
        height: 75px;
    }
    .section-5__hr{
        display: none;
    }

    .section-5__bg-wrapp{
        display: none;
    }

    .section-5__text{
        max-width: 150px;
        font-size: 14px;
        line-height: 20px;
        padding: 0 5px;
    }
}
@media (max-width: 375px){
    .section-5__text{
        font-size: 12px;
    }
}