@media (max-width: 983px){
    .section-2__text{
        max-width: 85%;
        margin: 0 auto;
    }
}

@media (max-width: 769px){
    .section-2__h2{
        font-size: 25px;
    }
    .section-2__text{
        max-width: 70%;
    }
}
@media (max-width: 536px){
    .section-2__h2{
        font-size: 20px;
    }
    .section-2__text{
        line-height: 20px;
    }
}
@media (max-width: 321px){
    .section-2__text{
        line-height: 15px;
        font-size: 14;
    }
    .section-2__h2{
        font-size: 15px;
    }
}
