.section-1{ 
    padding: 92px 0 125px 0;
    min-height: 659px;
    background: url('../../img/block-1/main_bg.png') center center/cover no-repeat;
}
.section-1__h2{
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 15px;
}
.section-1__h1{
    text-align: center;
    font-size: 82px;
    font-weight: 700;
    color: #ffffff;
}
.section-1__h1::after{
    content: "";
    display: block;
    max-width: 460px;
    height: 3px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
}
.section-1__text-discount{
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 44px 0 30px 0;
}
.section-1__text-price{
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #ffffff;
    }
.section-1__text-price span{
    font-size: 48px;
    }
.section-1__buttons{
   text-align: center;
   padding-top: 40px;
}
.button{
    width: 260px;
    height: 66px;
    border: 2px solid #ffffff;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    margin: 0 10px;
}
